/* Displayed categories as cards */
.card,
.row {
  /* Shared properties */
  --lightness: 20%;
  --sat: 45%;
  position: relative;
  color: hsl(var(--primary-hue) 70% 85%);
  line-height: normal;
}
.card {
  border-radius: 0.6em;
  box-shadow: 0 5px 10px -4px hsl(var(--primary-hue) 15% 10% / 0.3);
  background: hsl(var(--primary-hue) var(--sat) var(--lightness));
  width: calc(var(--base-unit) * 22px);
  height: calc(var(--base-unit) * 27px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  padding: 1em 0.85em;
  transition: background 0.18s ease-in-out, box-shadow 0.18s ease-in-out;
}
.card .icon {
  position: absolute;
  inset: 0.75em 0.75em auto auto;
}
.card h4 {
  letter-spacing: 1px;
  color: hsl(var(--primary-hue) 65% 90%);
}
.card small {
  letter-spacing: 1px;
}
.card img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}
.card:hover,
.card:focus {
  --lightness: 22%;
  --sat: 40%;
  box-shadow: 4px 10px 10px -2px hsl(var(--primary-hue) 20% 20% / 0.5);
}
.card.create {
  --lightness: 35%;
  background: hsl(var(--primary-hue) 35% var(--lightness));
}
.card.create:hover,
.card.create:focus {
  --lightness: 40%;
}
/* Displayed categories as rows */
.list {
  max-height: 478px;
}
.row-wrapper {
  overflow-y: auto;
  scrollbar-width: thin;
}
.row-wrapper::-webkit-scrollbar {
  width: 0.4em;
}
.row-wrapper::-webkit-scrollbar-track {
  background: hsl(var(--primary-hue) 30% 35%);
  border-radius: 0.25em;
}
.row-wrapper::-webkit-scrollbar-thumb {
  background: hsl(var(--primary-hue) 30% 50%);
  border-radius: 0.25em;
}
.row,
.row-h {
  width: 97%;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 0.15em 0.2em 0.3em 0.2em;
}
.row > *,
.row-h > * {
  width: 100px;
}
.row:not(:nth-last-of-type(1)) {
  border-bottom: 0.15em solid
    hsl(var(--primary-hue) var(--sat) var(--lightness));
}
.row:nth-last-of-type(1) {
  border-bottom: 0.15em solid hsl(var(--primary-hue) 30% 38%);
}
.row-create {
  border: 0.1em solid transparent;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
  transition: opacity 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.row-create:hover,
.row-create:focus {
  border-bottom-color: hsl(var(--primary-hue) 30% 45%);
  opacity: 0.9;
}
.row-create small {
  letter-spacing: 1px;
  color: var(--text-color);
}
.row-h {
  padding-bottom: 0.15em !important;
  border-bottom: 0.15em solid hsl(var(--primary-hue) 30% 38%);
}
.row-h h4:nth-child(5),
.row-h h4:nth-child(6),
.row .icon {
  width: 60px;
  text-align: center;
}
.row-h > span {
  width: 40px;
  height: 40px;
}
.row-h > h4 {
  color: white;
}
.row-h > h4:nth-of-type(2),
.row .desc {
  flex-grow: 1;
}
.row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.row a {
  line-height: normal;
}
.row .icon {
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}
.row .icon:hover,
.row .icon:focus {
  opacity: 0.6;
}
/* Form styles */
label {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.form-control,
.btn-file,
.btn-create {
  --sat: 30%;
  --lightness: 80%;
  font-family: "Source Sans Pro";
  border: none;
  background: hsl(var(--primary-hue) var(--sat) var(--lightness));
}
.form-control {
  border-radius: 0.3em;
  padding: 0.3em 0.4em;
  font-size: 1rem;
  width: 70%;
}
.form-control#search-name {
  padding: 0.5em 0.6em;
}
.form-control::placeholder {
  font-size: 0.95rem;
}
.btn-file {
  --sat: 35%;
  --lightness: 60%;
  /* width: calc(var(--base-unit) * 20px); */
  border-radius: 0.35em;
  padding: 0.85em 2em;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.btn-file:hover,
.btn-file:focus {
  --sat: 30%;
  --lightness: 65%;
}
span.file-info {
  font-style: italic;
  font-size: 0.85rem;
  color: hsl(var(--primary-hue) 70% 85%);
}
.btn-create {
  --sat: 30%;
  --lightness: 20%;
  border-radius: 0.3em;
  padding: 0.8em 2.5em;
  font-size: 1rem;
  color: var(--text-color);
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.btn-create:focus,
.btn-create:hover {
  --sat: 25%;
  --lightness: 25%;
}
